body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/static/images/web-bg.jpg'); 
    background-size:contain; 
    background-repeat: no-repeat;
    background-position: top;
}

